In [1]:
ls

 Volume in drive C is OS
 Volume Serial Number is D816-28B0

 Directory of C:\Users\luigi\FlatironSchool\market_segmentation\Customer_segmentation

01/05/2020  10:20    <DIR>          .
01/05/2020  10:20    <DIR>          ..
30/04/2020  13:54    <DIR>          .ipynb_checkpoints
20/09/2019  22:35        45,580,638 data.csv
30/04/2020  13:48                55 README.md
01/05/2020  10:20            11,479 Untitled.ipynb
               3 File(s)     45,592,172 bytes
               3 Dir(s)   3,713,990,656 bytes free

In [2]:
import pandas as pd
import numpy as np
np.random.seed(0)
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('data.csv', encoding="ISO-8859-1", dtype={'CustomerID': str,'InvoiceID': str})
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850,United Kingdom

In [4]:
df.describe()

            Quantity      UnitPrice
count  541909.000000  541909.000000
mean        9.552250       4.611114
std       218.081158      96.759853
min    -80995.000000  -11062.060000
25%         1.000000       1.250000
50%         3.000000       2.080000
75%        10.000000       4.130000
max     80995.000000   38970.000000

In [5]:
print('Dataframe dimensions:', df.shape)

Dataframe dimensions: (541909, 8)

In [6]:
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [7]:
# gives some infos on columns types and numer of null values
tab_info=pd.DataFrame(df.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()/df.shape[0]*100).T.
                         rename(index={0:'null values (%)'}))
display(tab_info)
#__________________
# show first lines
display(df[:5])

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
column type,object,object,object,int64,datetime64[ns],float64,object,object
null values (nb),0,0,1454,0,0,0,135080,0
null values (%),0,0,0.268311,0,0,0,24.9267,0

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom

Around 25% of data missing for description and customerId, in our case we are unable to get the data for it so we drop the corrisponding rows.

In [8]:
df.dropna(axis = 0, subset = ['CustomerID'], inplace = True)
print('Dataframe dimensions:', df.shape)

Dataframe dimensions: (406829, 8)

In [9]:
# gives some infos on columns types and numer of null values
tab_info=pd.DataFrame(df.dtypes).T.rename(index={0:'column type'})
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()).T.rename(index={0:'null values (nb)'}))
tab_info=tab_info.append(pd.DataFrame(df.isnull().sum()/df.shape[0]*100).T.
                         rename(index={0:'null values (%)'}))
display(tab_info)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
column type,object,object,object,int64,datetime64[ns],float64,object,object
null values (nb),0,0,0,0,0,0,0,0
null values (%),0,0,0,0,0,0,0,0

In [10]:
print('Duplicates: ', f'{df.duplicated().sum()}')
df.drop_duplicates(inplace = True)

Duplicates:  5225

### Countries

In [11]:
print('Number of countries :', len(df.groupby('Country').count()) - 1)

Number of countries : 36

In [12]:
df.groupby(['CustomerID','InvoiceNo'])['Description'].unique()

CustomerID  InvoiceNo
12346       541431                        [MEDIUM CERAMIC TOP STORAGE JAR]
            C541433                       [MEDIUM CERAMIC TOP STORAGE JAR]
12347       537626       [BLACK CANDELABRA T-LIGHT HOLDER, AIRLINE BAG ...
            542237       [PINK NEW BAROQUECANDLESTICK CANDLE, BLUE NEW ...
            549222       [AIRLINE BAG VINTAGE JET SET WHITE, AIRLINE BA...
            556201       [RABBIT NIGHT LIGHT, REGENCY TEA STRAINER, REG...
            562032       [SET OF 60 VINTAGE LEAF CAKE CASES , SET 40 HE...
            573511       [MINI LIGHTS WOODLAND MUSHROOMS, PINK GOOSE FE...
            581180       [CLASSIC CHROME BICYCLE BELL , BICYCLE PUNCTUR...
12348       539318       [72 SWEETHEART FAIRY CAKE CASES, 60 CAKE CASES...
            541998       [PACK OF 12 RED RETROSPOT TISSUES , PACK OF 12...
            548955       [DOUGHNUT LIP GLOSS , ICE CREAM PEN LIP GLOSS ...
            568172       [DOUGHNUT LIP GLOSS , ICE CREAM PEN LIP GLOSS ...
12349       577609       [PARISIENNE CURIO CABINET, SWEETHEART WALL TID...
12350       543037       [CHOCOLATE THIS WAY METAL SIGN, METAL SIGN NEI...
12352       544156       [WOODEN HAPPY BIRTHDAY GARLAND, PINK DOUGHNUT ...
            545323       [POSTAGE, DELUXE SEWING KIT , PINK HEART SHAPE...
            545332                                                [Manual]
            546869       [CERAMIC HEART FAIRY CAKE MONEY BANK, CERAMIC ...
            547390       [POSTAGE, PINK HEART SHAPE EGG FRYING PAN, CER...
            567505       [ANTIQUE GLASS PEDESTAL BOWL, PANTRY MAGNETIC ...
            568699       [OPEN CLOSED METAL SIGN, SET OF 6 SPICE TINS P...
            574275       [PETIT TRAY CHIC, PANTRY ROLLING PIN, PANTRY P...
            C545329                                               [Manual]
            C545330                                               [Manual]
            C547388      [PINK HEART SHAPE EGG FRYING PAN, CERAMIC CAKE...
12353       553900       [CERAMIC CAKE STAND + HANGING CAKES, MINI CAKE...
12354       550911       [JUMBO BAG ALPHABET, CHARLOTTE BAG APPLES DESI...
12355       552449       [GROW A FLYTRAP OR SUNFLOWER IN TIN, ICE CREAM...
12356       541430       [BAKING SET 9 PIECE RETROSPOT , WHITE HEART CO...
                                               ...
18276       572990       [ANTIQUE SILVER BAUBLE LAMP  , FELTCRAFT HAIRB...
            C577386                        [RUSTIC MIRROR WITH LACE HEART]
            C577390                        [RUSTIC MIRROR WITH LACE HEART]
18277       570859       [EDWARDIAN PARASOL PINK, EDWARDIAN PARASOL RED...
            C542086                             [REGENCY CAKESTAND 3 TIER]
18278       568492       [HOT WATER BOTTLE TEA AND SYMPATHY, GARDENERS ...
18280       545712       [WOOD BLACK BOARD ANT WHITE FINISH, RETROSPOT ...
18281       556464       [ROBOT BIRTHDAY CARD, CARD CIRCUS PARADE, PENN...
18282       562525       [ANTIQUE CREAM CUTLERY CUPBOARD, FRENCH STYLE ...
            580173       [REGENCY CAKESTAND 3 TIER, ROSES REGENCY TEACU...
            C562808                     [FRENCH STYLE STORAGE JAR BONBONS]
18283       540350       [CHARLOTTE BAG PINK POLKADOT, LUNCH BAG WOODLA...
            541854       [TEA TIME OVEN GLOVE, FELTCRAFT BUTTERFLY HEAR...
            545079       [CREAM FELT EASTER EGG BASKET, BLUE FELT EASTE...
            550957       [STRAWBERRY   PICNIC BAG, SMALL POPCORN HOLDER...
            554157       [LUNCH BAG VINTAGE LEAF DESIGN, LUNCH BAG RED ...
            556731       [WHITE HANGING HEART T-LIGHT HOLDER, DOILEY ST...
            557956       [TRADITIONAL WOODEN SKIPPING ROPE, 4 TRADITION...
            560025       [BOX OF 9 PEBBLE CANDLES, 6 RIBBONS RUSTIC CHA...
            560032                                     [GIN AND TONIC MUG]
            565579       [RECYCLING BAG RETROSPOT , 60 TEATIME FAIRY CA...
            573093       [16 PIECE CUTLERY SET PANTRY DESIGN, BISCUIT T...
            575668       [LUNCH BAG APPLE DESIGN, CHARLOTTE BAG APPLES ...
            575675                       [VINTAGE DOILY TRAVEL SEWING KIT]
            578262       [ROLL WRAP VINTAGE CHRISTMAS, ROLL WRAP 50'S C...
            579673       [SET OF 6 SNACK LOAF BAKING CASES, 10 COLOUR S...
            580872       [FELTCRAFT HAIRBAND RED AND BLUE, PACK OF 12 D...
18287       554065       [SMALL PURPLE BABUSHKA NOTEBOOK , SMALL RED BA...
            570715       [HAND WARMER OWL DESIGN, SET OF 3 WOODEN SLEIG...
            573167       [SET OF 3 WOODEN SLEIGH DECORATIONS, PAINTED M...
Name: Description, Length: 22190, dtype: object

In [14]:
pd.DataFrame([{'products': len(df['StockCode'].value_counts()),    
               'transactions': len(df['InvoiceNo'].value_counts()),
               'customers': len(df['CustomerID'].value_counts()),  
              }], columns = ['products', 'transactions', 'customers'], index = ['quantity'])

          products  transactions  customers
quantity      3684         22190       4372

It can be seen that the data concern 4372 users and that they bought 3684 different products. The total number of transactions carried out is of the order of  ∼ 22'000.

Number of products purchased in every transaction:

In [15]:
temp = df.groupby(by=['CustomerID', 'InvoiceNo'], as_index=False)['InvoiceDate'].count()
nb_products_per_basket = temp.rename(columns = {'InvoiceDate':'Number of products'})
nb_products_per_basket[:10].sort_values('CustomerID')

  CustomerID InvoiceNo  Number of products
0      12346    541431                   1
1      12346   C541433                   1
2      12347    537626                  31
3      12347    542237                  29
4      12347    549222                  24
5      12347    556201                  18
6      12347    562032                  22
7      12347    573511                  47
8      12347    581180                  11
9      12348    539318                  17

The first lines of this list shows several things worthy of interest:

- the existence of entries with the prefix C for the InvoiceNo variable: this indicates transactions that have been canceled
- the existence of users who only came once and only purchased one product (e.g. nº12346)
- the existence of frequent users that buy a large number of items at each order

###  Cancelling orders

In [20]:
nb_products_per_basket['order_canceled'] = nb_products_per_basket['InvoiceNo'].apply(lambda x:int('C' in x))
display(nb_products_per_basket[:5])
#______________________________________________________________________________________________
n1 = nb_products_per_basket['order_canceled'].sum()
n2 = nb_products_per_basket.shape[0]
print('Number of orders canceled: {}/{} ({:.2f}%) '.format(n1, n2, n1/n2*100))

  CustomerID InvoiceNo  Number of products  order_canceled
0      12346    541431                   1               0
1      12346   C541433                   1               1
2      12347    537626                  31               0
3      12347    542237                  29               0
4      12347    549222                  24               0

Number of orders canceled: 3654/22190 (16.47%)

We note that the number of cancellations is quite large ( ∼ 16% of the total number of transactions).

In [22]:
df_check = df[df['Quantity'] < 0][['CustomerID','Quantity',
                                                   'StockCode','Description','UnitPrice']]

In [23]:

df_check

,CustomerID,Quantity,StockCode,Description,UnitPrice
141,14527,-1,D,Discount,27.50
154,15311,-1,35004C,SET OF 3 COLOURED FLYING DUCKS,4.65
235,17548,-12,22556,PLASTERS IN TIN CIRCUS PARADE,1.65
236,17548,-24,21984,PACK OF 12 PINK PAISLEY TISSUES,0.29
237,17548,-24,21983,PACK OF 12 BLUE PAISLEY TISSUES,0.29
238,17548,-24,21980,PACK OF 12 RED RETROSPOT TISSUES,0.29
239,17548,-12,21484,CHICK GREY HOT WATER BOTTLE,3.45
240,17548,-12,22557,PLASTERS IN TIN VINTAGE PAISLEY,1.65
241,17548,-24,22553,PLASTERS IN TIN SKULLS,1.65
939,17897,-6,22960,JAM MAKING SET WITH JARS,4.25
1441,17841,-1,22632,HAND WARMER RED RETROSPOT,2.10
1442,17841,-2,22355,CHARLOTTE BAG SUKI DESIGN,0.85
1973,12472,-4,22244,3 HOOK HANGER MAGIC GARDEN,1.95
1974,12472,-5,22242,5 HOOK HANGER MAGIC TOADSTOOL,1.65
1975,12472,-1,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,2.95
1976,12472,-7,22892,SET OF SALT AND PEPPER TOADSTOOLS,1.25
1977,12472,-1,22654,DELUXE SEWING KIT,5.95
1978,12472,-2,22767,TRIPLE PHOTO FRAME CORNICE,9.95
1979,12472,-1,22333,RETROSPOT PARTY BAG + STICKER SET,1.65
1980,12472,-2,22245,"HOOK, 1 HANGER ,MAGIC GARDEN",0.85
1981,12472,-6,22077,6 RIBBONS RUSTIC CHARM,1.65
1982,12472,-1,22631,CIRCUS PARADE LUNCH BOX,1.95
1983,12472,-2,22168,ORGANISER WOOD ANTIQUE WHITE,8.50
1984,12472,-3,21218,RED SPOTTY BISCUIT TIN,3.75
1985,12472,-1,20957,PORCELAIN HANGING BELL SMALL,1.45
1986,12472,-4,22580,ADVENT CALENDAR GINGHAM SACK,5.95
3170,14092,-2,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,2.95
3338,12471,-2,22752,SET 7 BABUSHKA NESTING BOXES,8.50
3410,14766,-2,22839,3 TIER CAKE TIN GREEN AND CREAM,14.95
3693,14390,-1,21463,MIRRORED DISCO BALL,5.95
...,...,...,...,...,...
538564,12476,-1,82482,WOODEN PICTURE FRAME WHITE FINISH,2.95
538565,12476,-2,22173,METAL 4 HOOK HANGER FRENCH CHATEAU,3.29
538566,12476,-1,85199L,LARGE HANGING IVORY & RED WOOD BIRD,0.65
538567,12476,-5,85127,SMALL SQUARE CUT GLASS CANDLESTICK,4.95
540072,13078,-5,22197,POPCORN HOLDER,0.72
540073,13078,-1,22107,PIZZA PLATE IN BOX,1.25
540078,12985,-48,16219,HOUSE SHAPE PENCIL SHARPENER,0.06
540079,12985,-72,21642,ASSORTED TUTTI FRUTTI PEN,0.29
540080,17526,-2,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,7.95
540081,15951,-1,23458,DOLLY CABINET 3 DRAWERS,14.95
540082,15951,-6,71477,COLOURED GLASS STAR T-LIGHT HOLDER,3.95
540083,15755,-2,23660,HENRIETTA HEN MUG,1.65
540084,15755,-1,22171,3 HOOK PHOTO SHELF ANTIQUE WHITE,8.50
540085,15755,-4,21876,POTTERING MUG,1.65
540086,15755,-3,20914,SET/5 RED RETROSPOT LID GLASS BOWLS,2.95
540087,13883,-1,22838,3 TIER CAKE TIN RED AND CREAM,14.95
540088,13883,-2,22720,SET OF 3 CAKE TINS PANTRY DESIGN,4.95
540089,13883,-1,21216,"SET 3 RETROSPOT TEA,COFFEE,SUGAR",4.95
540090,13883,-2,21535,RED RETROSPOT SMALL MILK JUG,2.55
540091,13883,-1,21232,STRAWBERRY CERAMIC TRINKET POT,1.25
540141,13599,-10,21314,SMALL GLASS HEART TRINKET POT,2.10
540142,13599,-12,22098,BOUDOIR SQUARE TISSUE BOX,0.39
540176,17924,-4,23084,RABBIT NIGHT LIGHT,2.08
540422,16446,-80995,23843,"PAPER CRAFT , LITTLE BIRDIE",2.08
540448,14397,-12,22178,VICTORIAN GLASS HANGING T-LIGHT,1.95
540449,14397,-11,23144,ZINC T-LIGHT HOLDER STARS SMALL,0.83
541541,15498,-1,M,Manual,224.69
541715,15311,-5,21258,VICTORIAN SEWING BOX LARGE,10.95
541716,17315,-1,84978,HANGING HEART JAR T-LIGHT HOLDER,1.25
541717,17315,-5,20979,36 PENCILS TUBE RED RETROSPOT,1.25